{% load i18n %}
{% block js %}
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script>
function toggleemailmessage()
{
	if ($("#emailmessage").css('display') == 'none')
	{
		$("#emailmessage").css('display', 'block');
	}
	var msg = {
	message: $("#viesti").val(),
	{% if form.id != None %}id: {{ form.id }},{% endif %}
	creator: $("#omanimi").val(),
	subject: $("#otsikko").val(),
	csrfmiddlewaretoken: '{{  csrf_token }}'
	};
	$.post("{% url 'message_json' %}", msg, function (data){
		$("#emailmessage textarea").val(data)
	});

}
</script>
{% endblock %}
<form action="{% if not form.id %}{% url 'edit' %}{% else %}{% url 'edit' form.id %}{% endif %}" method="POST" id="formid">
{% csrf_token %}
<label for="omanimi">{% trans "You name" %}</label>
<input id="omanimi" type="text" name="name" value="{{ form.creator }}" size="30" required="required" /><br />
<label for="otsikko">{% trans "Subject" %}</label>
<input id="otsikko" type="text" name="subject" value="{{ form.subject }}" size="100" required="required" /><br />
<label for="viesti">{% trans "HTML-formatted message" %}</label>
<textarea wrap="virtual" id="viesti" rows="12" cols="100" name="message">{% if not form.message %}
&lt;p>

&lt;/p>
{% else %}{{ form.message }}{% endif %}
</textarea>
<br />
<label for="sendmail" class="checkbox">{% trans "Send email to" %}</label>
<input type="input" name="emailto" value="{{ form.toemail }}" />
<input type="hidden" name="newsid" value="{{ form.id }}" />
<br />
<div id="emailmessage">
	<textarea id="email" name="email" rows="12" cols="100"></textarea>
</div>
<a href="javascript:toggleemailmessage();">{% trans "Refresh email" %}</a>
<br />
<input type="submit" name="addnews" value="{% trans "Save" %}" />
{% if not form.published %}<input type="submit" name="publish" value="{% trans "Publish" %}" />
{% else %}<input type="submit" name="unpublish" value="{% trans "Unpublish" %}" />{% endif %}
{% if form.id %}<input type="submit" name="delete" value="{% trans "Remove" %}" 
onclick="return confirmSubmit('{% trans "Delete really?" %}')" />{% endif %}
</form>
